h1{
  font-family: mono;
}
p{
  font-family: mono;
}
html{
  min-height: 100vh;
  width: 100vh;
  height: 100;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
  background: #181d27;
  width: 100%;
  height: 10%;
}
#menu_b{
  background: transparent;
  border: 0;
  height: 80%;
  width: 10%;
  margin-top: 1%;
}
#logo_b{
  background: transparent;
  border: 0;
  margin-left: 20%
}
#logo{
  width: 60%;
  height: 60%;
}

main{
  background: #ffeaf4;
  height: 130%;
}

footer{
  height: 27%;
}
.text_big{
  
}
.text_big h1{
  font-size: 100px;
  margin-top: -50%;
  margin-left: 10%;
}
.text_big p{
  font-size: 50px;
  margin-left: 15%;
}
.text_big img{
  margin-left: 10%;
}
#back{
  width: 60%;
  margin: 0 0 0 0;
}

footer{
  padding-left: 1%; 
  font-size: 30px;
  background: #181d27;
  color: #ffeaf4
}
#tg{
  background: transparent;
  border: 0;
}
